@model ManchaBillWeb.DTOs.BillDTO;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<div class="container-fluid">
    <div class="form-group" style="width:30%">
        <label>BARCODE</label>
        <div>
            <input id="ManualBarcode" onkeydown="search(this)" class="form-control" />
        </div>



    </div>



</div>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container-fluid">

        <div class="card-body">
            <h1 class="h3 mb-2 text-gray-800">Found Items</h1>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableMiniSearch" width="100%" cellspacing="0" style="background-color:white">
                    <thead>
                        <tr>

                            <th style="display:none;">
                                ID
                            </th>
                            <th>
                                Short Description
                            </th>
                            <th>
                                Long Description
                            </th>

                            <th>
                                Size
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                Discount
                            </th>
                            <th>
                                Prize
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>



            </div>
        </div>

        <div class="card-body">
            <h1 class="h3 mb-2 text-gray-800">PRE BILL</h1>
            <div class="table-responsive">
                <table runat="server" class="table table-bordered" id="dataTableMiniPreBill" name="dataTableMiniPreBill" width="100%" cellspacing="0" style="background-color:white">
                    <thead>
                        <tr>

                            <th style="display:none;">
                                ID
                            </th>
                            <th>
                                Short Description
                            </th>
                            <th>
                                Long Description
                            </th>

                            <th>
                                Size
                            </th>
                            <th>
                                Color
                            </th>
                            <th>
                                Discount
                            </th>
                            <th>
                                Units
                            </th>
                            <th>
                                Prize
                            </th>
                            <th>
                                Total
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Payment</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">


                        <div class="form-group" style="width:150%">
                            <label>Payment Type</label>
                            <div>
                                <input asp-for="PaymentTypeId" type="radio" onclick="ManageMoneyDivs(1)" id="rbCreditCard" name="PaymentTypeId" value="1"
                                       checked>
                                <label for="huey">Credit Card&nbsp;</label><i class="fa-solid fa-credit-card"></i>
                            </div>

                            <div>
                                <input asp-for="PaymentTypeId" type="radio" onclick="ManageMoneyDivs(2)" id="rbCash" name="PaymentTypeId" value="2">
                                <label for="dewey">Cash&nbsp;</label><i class="fa-solid fa-money-bill"></i>
                            </div>

                        </div>
                        <div id="ModeyDeliveredDiv" class="form-group" style="width:15%">
                            <label asp-for="MoneyDelivered" class="control-label"></label>
                            <input asp-for="MoneyDelivered" id="MoneyDelivered" onchange="UpdateMoneyReturned()" class="form-control" />
                            <span asp-validation-for="MoneyDelivered" class="text-danger"></span>
                        </div>
                        <div id="ModeyReturnedDiv" class="form-group" style="width:15%">
                            <label asp-for="MoneyReturned" class="control-label"></label>
                            <input asp-for="MoneyReturned" id="MoneyReturned" class="form-control" />
                            <span asp-validation-for="MoneyReturned" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input type="submit" onclick="StartAlert()" value="Pay" class="btn btn-primary" />
                            <a asp-action="Cancel" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fa-solid fa-xmark"></i>
                                </span>
                                <span class="text">Cancel</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Resume</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <div class="form-group" style="text-align:center">
                            <label asp-for="Prize" id="prize" style="font-size:120px; color:green;">0</label>
                            <label style="font-size:120px; color:green;">€</label>
                        </div>
                        <h1 class="h3 mb-2 text-gray-800">Details:</h1>
                        <div>
                            <label>Value: </label>
                            <label asp-for="Value" id="value"></label>
                            <label>€</label>
                        </div>
                        <div>
                            <label>Tax: </label>
                            <label asp-for="Tax" id="tax">21</label>
                            <label>%</label>
                        </div>
                        <div>
                            <label>Tax: </label>
                            <label id="tax2"></label>
                            <label>€</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>



<script>
     $(document).ready(function () {
        $("#ModeyDeliveredDiv").hide();
        $("#ModeyReturnedDiv").hide();
    });

    function StartAlert(){
         var count = $("#dataTableMiniPreBill tr").length;
         if(count<=1){
             window.alert("You must select 1 item");
         }
        
    }

     function UpdateMoneyReturned() {
         console.log('cambio');
        var prize= document.getElementById('prize').textContent;
        console.log(prize);
        var delivered=document.getElementById("MoneyDelivered").value;
        console.log(delivered);
        var returned= parseFloat(delivered)-parseFloat(prize);
        console.log(returned);
         document.getElementById("MoneyReturned").value = returned;
    }

    function ManageMoneyDivs(option) {
        $.ajax({
                url: '@Url.Action("SelectPaymentType","Bills")',
                type: 'POST',
                data: {
                    PaymentTypeId:option,
                }
               });
        if(option==1){

            $("#ModeyDeliveredDiv").hide();
            $("#ModeyReturnedDiv").hide();

        }
        if(option==2){
            $("#ModeyDeliveredDiv").show();
            $("#ModeyReturnedDiv").show();
        }
    }
        function search(ele) {

        if(event.key === 'Enter') {
             $("#dataTableMiniSearch tbody tr").remove();
            console.log(ele.value);
            var barcode=ele.value;
            $.ajax({
                url: '@Url.Action("GetItemsByBarcode","Bills")',
                type: 'GET',
                data: {
                    barcode:barcode,
                },
                success: function (data) {
                        console.log(data);
                        var tbodyRef = document.getElementById("dataTableMiniSearch").getElementsByTagName('tbody')[0];

                            $(data).each(
                        function (index, model) {
                           var newRow = tbodyRef.insertRow();
                           var idRow=tbodyRef.rows.length-1;
                            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                            var cell1 = newRow.insertCell(0);
                            var cell2 = newRow.insertCell(1);
                            var cell3 = newRow.insertCell(2);
                            var cell4 = newRow.insertCell(3);
                            var cell5 = newRow.insertCell(4);
                            var cell6 = newRow.insertCell(5);
                            var cell7 = newRow.insertCell(6);
                            var cell8 = newRow.insertCell(7);

                            cell1.style="display:none";
                            // Add some text to the new cells:
                             cell1.innerHTML = model.Id;
                            cell2.innerHTML = model.Item.ShortDescription;
                             cell3.innerHTML =model.Item.LongDescription;
                             cell4.innerHTML =model.Size.Description;
                             cell5.innerHTML =model.Colour;
                             cell6.innerHTML =model.Item.Discount;
                             cell7.innerHTML =model.Item.Prize;
                             cell8.innerHTML=" <a class=\"btn btn-success btn-icon-split\" onclick=\"AddToPreBill("+idRow+")\"><span class=\"icon text-white-50\"><i class=\"fa-solid fa-plus\" ></i></span></a> ";
                        });

                        if(data.length==1){
                            AddToPreBill(0);
                        }


                },
                error: function () {
                    console.log('error e json');
                }
               });
        }
    }
     var SumToPreBill = function (idRow) {
         var existingRow = document.getElementById("dataTableMiniPreBill").rows[idRow+1];
         var idModel=existingRow.cells[0].innerText;
         $.ajax({
                url: '@Url.Action("AddToPreBill","Bills")',
                type: 'POST',
                data: {
                    idModel:idModel,
                }
               });

         var units=parseFloat(existingRow.cells[6].innerText) +1;
            var total=parseFloat(existingRow.cells[7].innerText) * parseFloat(units);
            existingRow.cells[6].innerText =units;
            existingRow.cells[8].innerText =total;
            CalculateTotal();
     }

      var DeleteToPreBill = function (ele) {
          console.log('delete row');
          var existingRow=ele.parentNode.parentNode;
          console.log(existingRow);
          var idModel=existingRow.cells[0].innerText;
           $.ajax({
                url: '@Url.Action("DeleteFromPreBill","Bills")',
                type: 'POST',
                data: {
                    idModel:idModel,
                }
               });
         //var existingRow = document.getElementById("dataTableMiniPreBill").rows[idRow+1];
         var units=parseFloat(existingRow.cells[6].innerText);
         if(units==1){
             //es el ultimo. elimnar fila
             existingRow.parentNode.removeChild(existingRow);
         }else{
             //no es el ultimo. restar
             units=units-1;
             var total=parseFloat(existingRow.cells[7].innerText) * parseFloat(units);
             existingRow.cells[6].innerText =units;
                existingRow.cells[8].innerText =total;
         }
         CalculateTotal();
     }


    var AddToPreBill = function (idRow) {
        var idModel = document.getElementById("dataTableMiniSearch").rows[idRow+1].cells[0].innerText;
        $.ajax({
                url: '@Url.Action("AddToPreBill","Bills")',
                type: 'POST',
                data: {
                    idModel:idModel,
                }
               });

               if(ExistsInBill(idModel)){
                            var idModel = document.getElementById("dataTableMiniSearch").rows[idRow+1].cells[0].innerText;
                            var indexRow=GetModelIndex(idModel);
                            var existingRow = document.getElementById("dataTableMiniPreBill").rows[indexRow];
                            var units=parseFloat(existingRow.cells[6].innerText) +1;
                            var total=parseFloat(existingRow.cells[7].innerText) * parseFloat(units);
                            existingRow.cells[6].innerText =units;
                            existingRow.cells[8].innerText =total;

                        }else{
                            var clickedRow = document.getElementById("dataTableMiniSearch").rows[idRow+1];

                            var tbodyRef = document.getElementById("dataTableMiniPreBill").getElementsByTagName('tbody')[0];
                            var newRow = tbodyRef.insertRow();
                            var idRow=tbodyRef.rows.length-1;

                            var cell1 = newRow.insertCell(0);
                            var cell2 = newRow.insertCell(1);
                            var cell3 = newRow.insertCell(2);
                            var cell4 = newRow.insertCell(3);
                            var cell5 = newRow.insertCell(4);
                            var cell6 = newRow.insertCell(5);
                            var cell7 = newRow.insertCell(6);
                            var cell8 = newRow.insertCell(7);
                            var cell9 = newRow.insertCell(8);
                            var cell10 = newRow.insertCell(9);

                            cell1.style="display:none";
                             console.log(clickedRow);
                            cell1.innerHTML = clickedRow.cells[0].firstChild.nodeValue;
                            cell2.innerHTML = clickedRow.cells[1].firstChild.nodeValue;
                            cell3.innerHTML =clickedRow.cells[2].firstChild.nodeValue;
                            cell4.innerHTML =clickedRow.cells[3].firstChild.nodeValue;
                            cell5.innerHTML =clickedRow.cells[4].firstChild.nodeValue;
                            cell6.innerHTML =clickedRow.cells[5].firstChild.nodeValue;
                            cell7.innerHTML ='1';
                            cell8.innerHTML =clickedRow.cells[6].firstChild.nodeValue;
                            cell9.innerHTML =clickedRow.cells[6].firstChild.nodeValue;
                            cell10.innerHTML=" <a class=\"btn btn-danger btn-icon-split\" onclick=\"DeleteToPreBill(this)\"><span class=\"icon text-white-50\"><i class=\"fa-solid fa-minus\"></i></span></a> <a class=\"btn btn-success btn-icon-split\" onclick=\"SumToPreBill("+idRow+")\"><span class=\"icon text-white-50\"><i class=\"fa-solid fa-plus\" ></i></span></a> ";


                        }
                        CalculateTotal();

     }


     var CalculateTotal = function () {
        var table_prebill = document.getElementById("dataTableMiniPreBill");
        var total=0;
        for (var i = 1, row; row = table_prebill.rows[i]; i++) {
          var totalProduct=row.cells[8].innerText;
          total=parseFloat(total)+parseFloat(totalProduct);
         }
         var tax=parseFloat(parseFloat(total)*parseFloat(21/100)).toFixed(2);
         var value=parseFloat(parseFloat(total)*parseFloat(79/100)).toFixed(2);
         console.log("total:"+total);
         $('#prize').text(total);
         $('#value').text(value);
         $('#tax2').text(tax);

    }

    var ExistsInBill = function (idModel) {
        var table_prebill = document.getElementById("dataTableMiniPreBill");
        for (var i = 0, row; row = table_prebill.rows[i]; i++) {
          var idPreBill=row.cells[0].innerText;
          if(idModel==idPreBill){
              return true;
          }

         }
         return false;
    }

     var GetModelIndex = function (idModel) {
        var table_prebill = document.getElementById("dataTableMiniPreBill");
        for (var i = 0, row; row = table_prebill.rows[i]; i++) {
          var idPreBill=row.cells[0].innerText;
          if(idModel==idPreBill){
              return i;
          }

         }
         return -1;
    }


</script>
